<div class="nuddgeDisplay">
    <section class="nuddge">
        <div class="nuddgeCategory"></div>
        <div class="nuddgeBody"></div>
        <div class="nuddgeButtons"></div>
    </section>
</div>