<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="css/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
<main>
        <nav class="navbar navbar-expand-lg navbar-dark nav-bg static-top">
  <div class="container" style="margin-right: 10rem ;">
    <a class="navbar-brand" href="#">
      <img src="photos/final-logo.png" alt="..." height="36" class="dashboardLogo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a id="nuddgeBoard" class="nav-link active" aria-current="page" href="#">Nuddge Board</a>
        </li>
        <li class="nav-item">
          <a id="addNuddge" class="nav-link active" href="#">Add Nuddge</a>
        </li>
        <li class="nav-item dropdown">
          <a id="profileDropdown" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul  class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Compleated Nuddges</a></li>
            <li><a class="dropdown-item" href="#">Public Nuddges</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Profile Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="nuddgeCounter">
   
      <Label>Nuddge-Score:</Label>
      <h1>{{points}}</h1>
      
  </div>
</nav>
<div class="nuddgeInput">
    <form class="nuddgeForm" method="POST" action="/add-nuddge">
        <select name="category" id="">
            <option value="" selected disabled hidden>Category</option>
            <option value="career">Career</option>
            <option value="education">Education</option>
            <option value="fitness">Fitness</option>
            <option value="hobbies">Hobbies</option>
            <option value="mentalHealth">Mental Health</option>
            <option value="social">Social</option>
        </select>
        <input class="nuddgeInputBox" type="text" name="title" placeholder="Enter Nuddge name" id="">
        <input class="nuddgeInputBox"type="text" name="body" placeholder="Enter Nuddge description" id="">
        <input class="nuddgeInputBox"type="date" name="boostDate" id="">
        <select name="points" id="">
            <option value="" selected disabled hidden>Points</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select> 
        <!--<input type="hidden" value="{{userId}}" name="userId">-->
        <button class="nuddgeInputButton" >Submit</button>
    </form>
    <form action="/logout" method="GET">
    <button>Logout</button>
    </form>
</div>

<div class="nuddgeDisplay">
    {{#nuddges}}
    <div class="jumbotron nuddgeJumbo">
    <div class="container nuddgeContainer">
        <div class="nuddgeTitle">
            <!-- <h1>Nuddge Title</h1> -->
            <h1>{{title}}</h1>
        </div>
        <div class="nuddgeCategory">
            <h1>Category: {{category}}</h1>
        </div>
        <div class="nuddgeBody">
            <label for="">Description:</label>
            <p>{{body}}</p>
        </div>
        <div class="boostDate">
            <label for="">Boost Date:</label>
            <p class="lead">{{boostDate}}</p>
        </div>
        <div class="points">
            <label for="">Nuddge Points:</label>
            <p class="lead">{{points}}</p>
        </div>
        
        <div class="nuddgeButtons">
          <form class="completeNuddgeForm" method="POST" action="/complete-nuddge/{{id}}">
          <input type="hidden" value="{{id}}">
            <Button class="btn btn-primary">Complete!</Button>
        </form>
        </div>
    </div>
</div>
{{/nuddges}}
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>