<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="sign-up">
            <form method='POST' action='/sign-up' class="container">
                <h1>Registration</h1>
                <div class="signUpForm">
                    <label for="username"><b>Username</b></label>
                    <input type="text" name="username" class="signUp" placeholder="Enter a Username" required>
                </div>
                <div class="signUpForm">
                    <label for="password"><b>Password</b></label>
                    <input type="password" name="password" class="signUp" placeholder="Enter a Password" required>
                </div>
                <div class="signUpForm">
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="email" class="signUp" placeholder="Enter a Email" required>
                <button class="btn btn-primary">Register</button>
            </form>
        </div>
</body>
</html>