<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <div class="bg-image">
            <div class="nuddgeLogo">
            </div>
            <div class="sloganDiv">
                <h2 for="slogan" class="nuddgeSlogan">Nuddge yourself to be a better you.</h2>
            </div>
            <div class="loginFormBackground">
                <input type="text" name="username" class="loginInput" id="">
                <input type="password" name="password" class="loginInput" id="">

            </div>

    </div>
</body>
</html>