* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP',
        sans-serif;
}

main {
    min-height: 100vh;
    background: #e1d8d0;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboardLogo {
    width: 7em;
    height: 4em;
    position: absolute;
    top: 7em;
    left: 0;
}

.navbar-expand-lg {
    width: 100%;
}

.nav-bg {
    background: #e8e8e2;
}

.nuddgeCounter {
    height: 7vh;
    width: 11vh;
    background: linear-gradient(to left top, rgb(65, 128, 176), rgb(72, 208, 132));
    position: absolute;
    right: 7vh;
    border-radius: 3px;
    box-shadow: 0 0 5px 2px #354757;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nuddgeCounter label {
    font-size: 1vh;
    text-align: center;
}

.nuddgeDisplay {
    background: linear-gradient(to left top, rgb(32, 176, 91), rgb(115, 174, 189));
    height: 100%;
    width: 92vw;
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 3px 3px #8896a2;
}

.nuddge {
    background: transparent;
    height: 8em;
    width: 85vw;
    margin-top: 5em;
    border-radius: 1em;
    box-shadow: 0 0 7px 3px #b74747;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.nuddge>.nuddgeCategory {
    flex: 1 1 7em
}

.nuddge>.nuddgeBody {
    flex: 1 1 23em;
}

.nuddge>.nuddgeButtons {
    flex: 1 1 11em;

}

.nuddgeCategory {
    background: rgba(158, 93, 93, 0);

    text-align: center;
}

.nuddgeCategory h1 {
    font-size: 1.5rem;
}

.nuddgeCategory h3 {
    font-size: 1.3rem;
}


.nuddgeTitle {
    background: rgba(158, 93, 93, 0);

    text-align: center;
}

.nuddgeTitle h1 {
    font-size: 2rem;
}

.nuddgeTitle h3 {
    font-size: 1.3rem;
}

.nuddgeBody {
    background: rgba(158, 93, 93, 0);

    text-align: center;
}

.boostDate {
    background: rgba(158, 93, 93, 0);

    text-align: center;
}

.points {
    background: rgba(158, 93, 93, 0);

    text-align: center;
}

.nuddgeButtons {
    background: rgba(158, 93, 93, 0);

}

#nuddgeBoard {
    color: #5ca433;
}

#addNuddge {
    color: #5ca433
}

#profileDropdown {
    color: #5ca433;
}

@media screen and (max-width: 992px) {
    .dashboardLogo {
        display: none
    }
}

.nuddgeInput {
    background: #9ac8b1;
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nuddgeForm {
    padding-top: 1em;
    margin: 1em;
}

.nuddgeInputBox {

    border-radius: 2rem;
    min-width: 5rem;
    min-height: 0rem;
    text-align: center;

}

.nuddgeInputButton {
    border-radius: 7px;
}

.nuddgeContainer {
    width: 20em;
    text-align: center;
    margin: 2em;
}

.nuddgeJumbo {
    background: antiquewhite;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0 0 5px 5px #445360;
}