* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to left top, rgb(39, 81, 113), rgb(187, 187, 187));
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dashboardHead {
    width: 100%;
    height: 18vh;
    background: rgb(86, 86, 153);
    position: absolute;
    top: 0;
    display: flex;
}

.dashboardHead image {
    height: 3vh;
    width: 3vh;
}