* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: url(../photos/eleanor-carter-2Wyi2hseKAk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2 {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: black;
}

.glass {
    min-height: 45vh;
    min-width: 45%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuddgeLogo {
    background: url(../photos/final-logo.png);
    background-repeat: no-repeat;
    width: 34vh;
    height: 20vh;
    background-size: cover;
}

#username {
    border-radius: 2rem;
    min-width: 31rem;
    min-height: 4rem;
    text-align: center;
    font-size: 29px;
    margin: 2rem;
    flex-direction: column;
    display: flex;
}

#password {
    border-radius: 2rem;
    min-width: 31rem;
    min-height: 4rem;
    text-align: center;
    font-size: 29px;
    margin: 2rem;
    flex-direction: column;
    display: flex;
}

.loginButtons {
    display: flex;
    margin-top: 2rem;
    margin-left: 224px;
    padding: 17px;
}

.loginButton {
    background: dodgerblue;
    height: 2.5rem;
    width: 12rem;
    border-radius: 5px;
}

.signUpButton {
    display: flex;
    margin-top: 2rem;
    margin-left: 224px;
    padding: 17px;
    background: dodgerblue;
    height: 2.5rem;
    width: 15rem;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-left: 233px;
    color: white;
}

#loginButtonCss {
    width: 105px;
    margin-right: 224px;
}