.bg-image {
    /* padding: 15em; */
    outline: 2px solid black;
    background-image: url("../photos/ian-stauffer-bH7kZ0yazB0-unsplash.jpg");
    background-repeat: no-repeat;
    /* background-position: bottom 66% left; */
    /* background-size: auto, auto; */
    height: 100vw;
    width: 100vw;
    /* scale: 100%; */
    margin: -10px;
}

.nuddgeLogo {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 16vw;
    top: 6vw;
    background: url(../photos/logo_nuddge.png);
    background-repeat: no-repeat;
}

.nuddgeSlogan {
    position: absolute;
    width: 15em;
    height: 3em;
    left: 0.4em;
    top: 5em;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    /* line-height: -1em; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginFormBackground {
    position: absolute;
    width: 35em;
    height: 25em;
    left: 3em;
    top: 30em;
    background: rgba(196, 196, 196, .38);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

.loginInput {
    z-index: 2;
    position: absolute;
    width: 442px;
    height: 61px;
    left: 182px;
    top: 546px;

    background: #E6E2E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}